<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <h1>Our URL Shortener</h1>
        <form action="/shorturls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">URL</label>
            <input required placeholder="URL" type="url" name="fullUrl" id="fullUrl"
            class="form-control col mr-2">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>
        
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Click Count</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>

                    <tr>
                        <td><a href="<%= shortUrl.full %> "><%= shortUrl.full %> </a></td>
                        <td><a href="<%= shortUrl.short %> "><%= shortUrl.short %> </a></td>
                        <td><%= shortUrl.clicks %> </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
    </body>
    </html>